
.placeholder__card .image {
    background: #e9ebee;
    height: 175px;
}
.placeholder__card .bars {
    height: 85px;
}
.placeholder__card .bars .bar {
    background: #e9ebee;
    margin: 0 13px 13px;
    height: 19px;
}
.placeholder__card .bars .bar1 {
    width: 80%;
    margin-top: 17px;
}
.placeholder__card .bars .bar2 {
    width: 30%;
}
.loading {
    position: relative;
    overflow: hidden;
}
.loading::after {
    content: "";
    display: block;
    background-color: #dddfe2;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    animation: 1.5s loading-placeholder ease-in-out infinite;
}
@keyframes loading-placeholder {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


.sr-switch {
    font-size: 1rem;
    position: relative;
}
.sr-switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
}
.sr-switch input + label {
    position: relative;
    min-width: calc(calc(2.375rem * .8) * 2);
    border-radius: calc(2.375rem * .8);
    height: calc(2.375rem * .8);
    line-height: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.sr-switch input + label::before,
.sr-switch input + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(calc(2.375rem * .8) * 2);
    bottom: 0;
    display: block;
}
.sr-switch input + label::before {
    right: 0;
    background-color: #dee2e6;
    border-radius: calc(2.375rem * .8);
    transition: 0.2s all;
}
.sr-switch input + label::after {
    top: 2px;
    left: 2px;
    width: calc(calc(2.375rem * .8) - calc(2px * 2));
    height: calc(calc(2.375rem * .8) - calc(2px * 2));
    border-radius: 50%;
    background-color: white;
    transition: 0.2s all;
}
.sr-switch input:checked + label::before {
    background-color: #08d;
}
.sr-switch input:checked + label::after {
    margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.sr-switch input:disabled + label {
    color: #868e96;
    cursor: not-allowed;
}
.sr-switch input:disabled + label::before {
    background-color: #e9ecef;
}
.switch.switch-sm {
    font-size: 0.875rem;
}
.sr-switch.switch-sm input + label {
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(1.9375rem * .8);
    line-height: calc(1.9375rem * .8);
    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.sr-switch.switch-sm input + label::before {
    width: calc(calc(1.9375rem * .8) * 2);
}
.sr-switch.switch-sm input + label::after {
    width: calc(calc(1.9375rem * .8) - calc(2px * 2));
    height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.sr-switch.switch-sm input:checked + label::after {
    margin-left: calc(1.9375rem * .8);
}
.sr-switch + .sr-switch {
    margin-left: 1rem;
}

.dropzone{
    border-radius: 10px;
}

.dropzone .dz-message {
    text-align: center;
    margin: 3em 0;
}

.tox-toolbar,.tox-edit-area__iframe { 
 background: #fffcdc !important;
}

.overlay-roadblock{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.overlay-roadblock__content{
    width: auto;
    height: 80px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    margin-right: 25px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    z-index: 11;
    word-break: break-all;
    padding:20px;
}