
.header-report a {
    position: relative;
    top: 0 !important;
    margin-top: 0 !important;
}

.footer-calc {
    background-color: #C52027;
    height: 100%;
}

.header-top {
    overflow: hidden;
    padding: 10px 0;
}

.header-top .header-top-left {
    float: left;
    margin-bottom: 0;
    padding: 0 0 0 15px;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.contact-top.list-inline>li {
    margin-right: 10px;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.contact-top.list-inline>li i {
    font-size: 15px;
}

.header-top ul li a.phone {
    font-family: 'AndesRounded';
    font-weight: 800;
}

.contact-top.list-inline>li.address-links {
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    display: none;
}

.header-top .header-top-right {
    float: right;
    margin-bottom: 0;
    padding: 0;
}

.social-header>li {
    padding-left: 0;
    background: none;
}

.header-top ul li a {
    margin-left: 10px;
    font-size: 15px;
}

.header-top ul li a,
.header-top ul li i {
    color: #fff;
}


.splash-title {
    color: #FFF;
}

#compass {
    bottom: 30px !important;
}

#compass img {
    width: 80px;
    height: 80px;
}

.splash {
    /*max-width: 840px;

margin: 75px auto 0;

width: 100%;

height: calc(100% - 151px);

position: relative;

z-index: 15;

text-align: center;*/
    max-width: 700px;
    padding: 15px;
    margin: 0 auto 50px;
    position: relative;
}

.splash h1 {
    font-family: 'AndesRounded';
    font-weight: 100;
    margin-bottom: 50px;
}

.input-group-addon {
    background-color: #FFF!important;
    padding: 6px 12px!important;
    border-width: 0!important;
    border-style: solid!important;
    border-color: #FFF!important;
    color: #a4a4a4!important;
    background-color: #fff!important;
    background-image: none!important;
    border-left: 1px solid #ccc!important;
    border-top: 1px solid #ccc!important;
    border-bottom: 1px solid #ccc!important;
    border-right: 0 solid transparent!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s!important;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
}

.location-selector {}

.input-group {
    float: left;
    /*margin: 0 0 0 1%;*/
    width: 85%;
}

.location-selector .btn-search {
    width: 12%;
    height: 48px;
    margin: 0 1%;
}



#pac-input2 {
    height: 48px;
    border-radius: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 0;
    border-right: 1px solid #ccc;
    font-family: 'DIN-Light' !important;
    font-size: 16px;
}

.pac-item {
    font-size: 14px;
}

.btn {
    border-width: 2px !important;
}

.btn-search {
    text-shadow: rgba(255,217,20,1) 0px 1px 0px;
    background-image: linear-gradient(rgba(255,217,20,1) 0px, rgba(255,217,20,1) 100%);
    background-repeat: repeat-x;
    border: 2px solid rgba(255,217,20,1);
    font-family: 'DIN-Light' !important;
}

.btn-search {
    color: #FFF;
    background: #ffd914;
    background: -moz-linear-gradient(top,rgba(255,217,20,1) 0,rgba(255,181,29,1) 100%);
    background: -webkit-linear-gradient(top,rgba(255,217,20,1) 0,rgba(255,181,29,1) 100%);
    background: linear-gradient(to bottom,rgba(255,217,20,1) 0,rgba(255,181,29,1) 100%);
    width: 75%;
    transition: all 0.3s ease;
}

.btn-search:hover,
.btn-search:active {
    color: #FF9919 !important;
    background: #FF9919;
    background: -moz-linear-gradient(top,rgba(255,217,20,1) 0,rgba(255,181,29,1) 100%);
    background: -webkit-linear-gradient(top,rgba(255,217,20,1) 0,rgba(255,181,29,1) 100%);
    background: linear-gradient(to bottom,rgba(255,217,20,1) 0,rgba(255,181,29,1) 100%);
    text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
    transition: all 0.3s ease;
}

.btn-calculate {
    text-shadow: rgba(182, 12, 61, 0.95) 0px 1px 0px;
    background-image: linear-gradient(rgba(182, 12, 61, 0.95) 0px, rgba(182, 12, 61, 0.95) 100%);
    background-repeat: repeat-x;
    border: 2px solid rgba(182, 12, 61, 0.95);
    font-size: 20px!important;
    font-family: 'DIN-Light' !important;
    margin-bottom: 20px!important;
    transition: all 0.3s ease;
}

.btn-calculate {
    color: #FFF;
    background-color: #C52027;
    border-color: #C52027;
    width: 100%;
}

.btn-calculate:hover,
.btn-calculate:active,
.btn-calculate:focus {
    color: #C52027 !important;
    background-color: #FFF;
    border-color: #C52027;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
    transition: all 0.3s ease;
}

.btn-restart {
    display: block;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 150px;
    border-radius: 0 !important;
    text-shadow: rgba(182, 12, 61, 0.95) 0px 1px 0px;
    background-image: linear-gradient(rgba(182, 12, 61, 0.95) 0px, rgba(182, 12, 61, 0.95) 100%);
    background-repeat: repeat-x;
    border: 2px solid rgba(182, 12, 61, 0.95);
    font-family: 'DIN-Light' !important;
    font-size: 20px !important;
    font-weight: 100 !important;
    transition: all 0.3s ease;
}

.btn-restart {
    color: #FFF;
    background-color: rgba(182, 12, 61, 0.95);
    border-color: rgba(182, 12, 61, 0.95);
}

.btn-restart:hover,
.btn-restart:active,
.btn-restart:focus {
    color: rgba(182, 12, 61, 0.95) !important;
    background-color: #FFF;
    border-color: rgba(182, 12, 61, 0.95);
    text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
    transition: all 0.3s ease;
}

.remove-btn {
    cursor: pointer;
}

.btn-quote-system {
    font-size: 20px!important;
    font-family: 'DIN-Light' !important;
    margin-bottom: 20px!important;
    background-color: transparent;
    border: 2px solid rgba(182, 12, 61, 0.95) !important;
    color: #6d6d6d;
    display: block;
    max-width: 100%;
    height: auto;
}

.btn-quote-system:hover,
.btn-quote-system:active,
.btn-quote-system:focus {
    background-color: rgba(182, 12, 61, 0.95) !important;
    color: #FFF !important;
    border-color: rgba(182, 12, 61, 0.95);
    text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
    transition: all 0.3s ease;
}

.btn-request-call {
    font-size: 20px!important;
    font-family: 'DIN-Light' !important;
    margin-bottom: 20px!important;
    background-color: transparent;
    border: 2px solid rgba(182, 12, 61, 0.95) !important;
    color: #6d6d6d;
    display: block;
    max-width: 100%;
    height: auto;
}

.btn-request-call:hover,
.btn-request-call:active,
.btn-request-call:focus {
    background-color: rgba(182, 12, 61, 0.95) !important;
    color: #FFF !important;
    border-color: rgba(182, 12, 61, 0.95);
    text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
    transition: all 0.3s ease;
}

.btn-home {
    position: relative;
    font-size: 20px!important;
    font-family: 'DIN-Light' !important;
    margin-bottom: 20px!important;
    background-color: transparent;
    border-color: transparent;
    color: #333;
    display: block;
    max-width: 100%;
    height: auto;
    left: 2rem;
    top: 2rem !important;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    background-color: #777;
    border-color: #777;
    color: #FFF !important;
}

.button-container {
    padding: 0 8%;
    margin: 60px 0;
}

.intro-text {
    font-size: 20px;
    margin-top: 1.5em;
}

.calc-red {
    color: #C52126;
    font-family: 'DIN-Light' !important;
}

.output-title {
    font-size: 2.7rem;
}

.output {
    font-size: 3.3rem;
    font-weight: 600;
    color: #6d6d6d;
    font-family: 'DIN-Light' !important;
}

.anual {
    font-size: 2.2rem;
    font-weight: 100;
    color: #6d6d6d;
    font-family: 'DIN-Light' !important;
}

#logo2 {
    margin-top: 150px;
}

.mask {
    width: 101%;
    height: calc(100%);
    background: url(../images/solar-bg.jpg) center center no-repeat;
    background-size: cover;
    z-index: 111;
}

.mask:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: calc(100%);
    /*background-color: rgba(0,0,0,0.7);*/
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(6, 5, 10, 0.7) 50%, rgba(0, 0, 0, 0.7) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(6, 5, 10, 0.7) 50%, rgba(0, 0, 0, 0.7) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(6, 5, 10, 0.7) 50%, rgba(0, 0, 0, 0.7) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#b3000000', GradientType=0);
    /* IE6-9 */
}

.tour-card {

    width: 350px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0 !important;
    opacity: 0;
    z-index: 11;
    margin: 15px 15px 0;
    background-color: #C52027;
    transition: opacity 0.5s ease;
}

#tour-card>div:first-of-type {
    position: relative;
    font-size: 2.2rem;
    color: #FFF;
    font-weight: 100;
}

#tour-card>div:first-of-type p {
    position: relative;
    font-family: 'DIN-Medium' !important;
    margin: 0;
    padding: 10px 20px;
}

#tour-card>div:first-of-type button.close {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #333;
    background-color: #000000;
    color: #ffffff;
    border: 0;
    width: 36px;
    height: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif !important;
}

#tour-card>div:last-of-type {
    height: 396px;
}

.tour {
    display: none;
}

.take_tour {
    min-width: auto;
    width: 120px;
}

.take_tour .tour {
    display: block;
    background: none;
    border: 1px solid #fff;
    width: 100%;
    font-family: 'DIN-Light' !important;
    font-size: 16px;
    padding: 7px 0;
}

.take_tour>div:first-of-type p {
    display: none;
}

.take_tour>div:first-of-type button.close {
    display: none;
}

.take_tour>div:last-of-type {
    display: none;
}

.tour_card_1 {
    background: url(../images/Tour1.gif) no-repeat center #333;
}

.tour_card_2 {
    background: url(../images/Tour2.gif) no-repeat center #333;
}

.tour_card_3 {
    background: url(../images/Tour3.gif) no-repeat center #333;
}

.show_card {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.calculate-container {
    padding: 1.5rem 1rem 2rem;
    text-align: center;
}

.calculate-container p {
    font-size: 13px;
    font-family: 'DIN-Medium' !important;
}

.calculate-container button {
    margin: 0 !important;
}


/* Always set the map height explicitly to define the size of the div

 * element that contains the map. */

#map {
    height: calc(100%);
    /* (100% - ((20 + 81) + 50) ) */
    width: calc(100%);
    float: right;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.85);
    display: none;
    border: 1px solid #C52027;
    font-size: 14px;
    z-index: 1 !important;
}

.pac-card>i {
    position: absolute;
    right: -20px;
    top: 0;
    padding: 20px 6px 20px 4px;
    color: #FFF;
    background-color: rgba(182, 12, 61, 0.75);
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}



.add-roof-panels-card {

    position: relative;
    margin: 15px;
    outline: none;
    background: rgba(255, 255, 255, .85);
    font-family: 'DIN-Light' !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 1;
    padding: 10px 35px 10px 5px;
    border: 1px solid #C52027;
}

.add-roof-panels-card #add-roof-title {
    font-family: 'DIN-Medium' !important;
    position: relative;
    margin: 0 0px 15px;
    font-size: 24px;
}

.add-roof-panels-card p {
    font-family: 'DIN-Light' !important;
    font-size: 1.5rem;
    margin: 0;
}

#draw-button {
    width: 36px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    background: #C52027;
}

#draw-button:before {
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 46px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
}

#draw-button .add-section {
    display: block;
    /*position: absolute;

right:-17px;

top:22px;*/
    width: 36px;
    height: 100%;
    font-size: 36px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    /*background: url(../images/ic_add.png) no-repeat center #C52027;

background-size: 25%;*/
    background: #C52027;
    transition: all 0.3s ease;
}

#draw-button .add-section:hover {
    background-size: 50%;
    transition: all 0.3s ease;
}

#draw-button .add-section:focus {
    background-size: 25%;
    transition: all 0.3s ease;
}

#pac-container {
    max-height: 350px;
    overflow-y: scroll;
}

#pac-container label {
    font-family: 'DIN-Light' !important;
    font-size: 13px;
}

.disclaimer {
    padding: 0 60px 30px;
    color: #767676;
    font-family: 'DIN-Light' !important;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
    display: none;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-card {
    /*width: 100%;

max-width: 315px;

left: 0 !important;

top: auto !important;

bottom: 0;*/
}

#pac-input {
    font-weight: 300;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    width: 98%;
}

.section-container {
    padding: 1rem 1rem 0 1rem;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #b4133e;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 12px;
}

.panel-heading {
    padding: 5px 10px !important;
}

.panel-title {
    position: relative;
    font-family: 'DIN-Light' !important;
}

.panel-title i {
    position: absolute;
    right: 0;
    top: 0;
}

.panel-default>.panel-heading a {
    display: inline-block;
    width: 100%;
}

.panel-default>.panel-heading {
    color: #fff !important;
}

.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top, rgba(37, 37, 37, 0.88) 0, rgba(37, 37, 37, 1) 100%) !important;
    background-image: -o-linear-gradient(top, rgba(37, 37, 37, 0.88) 0, rgba(37, 37, 37, 1) 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0.88)), to(rgba(37, 37, 37, 1))) !important;
    background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0.88) 0, rgba(37, 37, 37, 1) 100%) !important;
}

.panel-group {
    margin-bottom: 0 !important;
}

.panel-group .panel-body {
    padding: 10px;
}

.panel-group p {
    font-family: 'DIN-Medium' !important;
    margin-bottom: 5px;
    font-size: 14px;
}

.panel-body input[type=radio] {
    margin-top: 2px;
}

.roof_facing {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #CCC;
}

.roof_facing.facing_hidden {
    display: none;
}

.panel-group .roof_note {
    display: none;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 100;
}

.modal>div>div {
    background-color: #F7F7F7;
}

.modal>div>div .modal-header {
    border-bottom: 0;
}

.modal>div>div label {
    display: none !important;
}

.modal>div>div .keep_labels label {
    display: inline-block !important;
    margin-top: 7px;
    margin-left: 7px;
}

.modal>div>div .modal-body {
    padding-top: 0 !important;
}

.modal>div>div .close {
    position: relative;
    font-family: 'DIN-Light' !important;
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    z-index: 1;
}

.gform_wrapper {
    margin-top: 0 !important;
}

.modal-title {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    font-family: 'DIN-Medium' !important;
}

.modal-title:after {
    /*content: "";

position: absolute;

left: -4px;

bottom: -12px;

width: 70px;

height: 11px;

background: url(../images/underline.png) no-repeat;*/
}

.gform_footer input[type=submit] {
    padding: 7px 30px;
    color: #FFF;
    background-color: rgba(182, 12, 61, 0.95);
    font-size: 2rem !important;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.gform_footer input[type=submit]:hover,
.gform_footer input[type=submit]:active {
    color: rgba(182, 12, 61, 0.95);
    background-color: #FFF;
    border: 2px solid rgba(182, 12, 61, 0.95);
    transition: all 0.3s ease;
}


/* Report */

h1.underline {
    position: relative;
}

h1.underline:after {
    content: "";
    position: absolute;
    left: -4px;
    bottom: -12px;
    width: 70px;
    height: 11px;
    background: url(../images/underline.png) no-repeat;
}

.output-title em {
    display: block;
    color: rgba(182, 12, 61, 0.95);
    font-style: normal;
}

.report_sections {
    margin-top: 60px;
}

.report_sections>div>div {
    min-height: 150px;
}

.num_panels {
    background: url(../images/number-of-panels.png) no-repeat center;
}

.total_produced {
    background: url(../images/energy.png) no-repeat center;
}

.total_savings {
    background: url(../images/cost-savings-icon.png) no-repeat center;
}


/*



    YOUR DETAILS





*/

.your-details {}

.your-details input {
    font-size: 16px !important;
}

@media screen and (max-width: 415px) {
    .social-header {
        position: absolute;
        right: 10px;
    }
}


/*



    MOBILE





*/


/*  iPhone 4

*/

@media screen and (max-height: 480px) {
    #pac-container {
        max-height: 240px;
    }
}


/*  iPhone 5

*/

@media screen and (min-height:481px) and (max-height: 568px) {
    #pac-container {
        max-height: 330px;
    }
}

@media screen and (max-width: 767px) {
    #logo2 {
        margin-top: 40px;
    }
    .location-selector {}
    .input-group {
        width: 75%;
    }
    .location-selector .btn-search {
        width: 22%;
    }
    .map_adjust {}
    .map_adjust img {
        margin-left: 0;
        max-width: 70%;
    }
    .map_adjust .btn-restart {
        position: absolute;
        right: 10px;
        top: 15px;
        width: auto;
        padding: 3px 10px;
    }
    .report_sections {
        padding-top: 30px;
        border-top: 1px solid #CCC;
    }
    .report_sections>div {
        margin-bottom: 60px;
        padding-bottom: 50px;
        border-bottom: 1px solid #CCC;
    }
    .header-calc {
        padding: 4px 10px 10px;
    }
    .header-calc img {
        margin: 0 0 0 auto;
        max-width: 70%;
    }
    .header-calc a {
        left: 0;
        top: 0 !important;
        font-size: 1.8rem !important;
    }
    .header-report {}
    .header-report img {
        margin: 0 auto;
        padding-bottom: 1rem;
        max-width: 100%;
    }
    .section-container {
        padding: 1rem 1rem 0 1rem;
    }
    .calculate-container {
        padding: 1.5rem 1rem 2rem;
    }
    #tour-card {
        display: none !important;
    }
}

@media screen and (max-width: 840px) {
    .header-calc div {
        position: relative;
        top: 0;
    }
}


/*------------------------

                Add by D.G

-------------------------*/

#header {
    border-bottom: 3px solid #C52027;
}

.header_top {
    background: #fff;
    overflow: hidden;
}

.logo {
    padding: 9px 0 4px 10px;
}

.logo a {
    display: inline-block;
}

.logo img {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.best_cont {
    position: relative;
    background: #ebebeb;
    text-align: right;
    padding: 26px 0 25px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.best_cont:before {
    position: absolute;
    top: 0;
    left: -22px;
    content: "";
    background: #ebebeb;
    width: 10%;
    height: 100%;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.best_cont:after {
    position: absolute;
    top: 0;
    left: 100%;
    width: 1000%;
    height: 100%;
    content: "";
    background: #ebebeb;
}

.best_cont img {
    width: 220px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.topemail {
    text-align: right;
    padding-top: 40px;
    font-family: 'DIN-Medium';
    font-size: 16px;
    color: #000000;
}

.topemail a {
    color: #000000;
}

.topemail a:before {
    font-family: 'FontAwesome';
    content: "\f003";
    display: inline-block;
    margin-right: 12px;
    color: #C52027;
    font-size: 24px;
    vertical-align: -2px;
}

.mask>.container-fluid,
.mask>.container-fluid>.row {
    height: 100%;
}

.row-eq-height {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.maskblock {
    max-width: 1000px;
    display: table;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
}

.maskblockinn {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.maskblock p {
    font-family: 'DIN-Light' !important;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
}

.maskblock p:last-child {
    margin-bottom: 0;
}

.map-leftpanel {
    width: 100%;
    float: left;
    height: auto;
    position: relative;
}

.pac-container {
    z-index: 20000 !important;
    overflow: visible !important;
}

.pac-item {
    cursor: pointer !important;
    padding: 0 4px;
    text-overflow: inherit !important;
    overflow: visible !important;
    white-space: inherit !important;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 11px;
    color: #999;
}

.footer_wrap {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #33353c;
}

.copywrite_sec {
    text-align: center;
    padding: 16px 0;
}

.copywrite_sec p {
    font-family: 'DIN-Light' !important;
    font-size: 13px;
    color: #c8c8c8;
    padding: 0;
    margin: 0;
}


/*------------ Ranjan CSS 26-03-18 ------------*/

.pac-input1 select {
    height: 48px;
}


/*------------ Ranjan CSS 23-04-18 ------------*/

.solar-diagram-title h4 {
    padding: 4px 0px;
}


/*------------ Ranjan CSS 18-05-18 ------------*/

#create-img-modal .modal-dialog .modal-content .modal-body {
    max-height: 400px;
    overflow: scroll;
}

a#btn-Convert-Html2Image {
    display: block;
    margin-bottom: 10px;
}


/*------------ Ranjan CSS 13-06-18 ------------*/

.btn-search {
    background-color: #c42026;
}

.btn-search:hover {
    border-color: #000000;
}

@media screen and (min-width: 860px) {
    #create-img-modal .modal-dialog {
        width: 800px;
    }
}

@media screen and (max-width: 767px) {
    .header_top .logo img {
        width: 210px;
    }
    .best_cont {
        padding: 35px 0 35px 10px;
    }
    .best_cont:before {
        display: none;
    }
    .best_cont img {
        height: auto;
        width: 100%;
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .header_top .logo img {
        width: 180px;
    }
    .best_cont {
        padding: 18px 0 18px 10px;
    }
    .best_cont img {
        height: auto;
        width: 180px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
    .header_top .logo img {
        width: 150px;
    }
    .best_cont {
        padding: 18px 0 18px 10px;
    }
    .best_cont img {
        height: auto;
        width: 150px;
    }
}

#remove-multi-button{
    width: 65px;
    height:100%;
    position: absolute;
    right:0;
    top:0;
    bottom: 0;
    padding: 15px 0px 0px 10px;
    font-size: 12px;
    color: #fff;

    background: #C52027;
}

.select2-results__options{
    background-image:url('https://developers.google.com/places/documentation/images/powered-by-google-on-white.png');
    background-position:98% 50%;
    background-repeat:no-repeat;
}
.select2-container .select2-selection--single{
    height: 48px !important;
}
.select2-selection__arrow,.select2-selection__rendered{
    margin-top:10px;
}

#draw-button{
    width: 65px;
    height:100%;
    position: absolute;
    right:0;
    top:0;
    bottom:0;

    background:#C52027;
    padding: 15px 0px 0px 10px;
    font-size: 13px;
    color: #fff;
}
#draw-button:before{ content:'' !important; }

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 40px;
    height: 40px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.modal-dialog.newModal {
    width: 300px;
    margin: 0 auto;
    transform: translateY(-40%) !important;
    position: absolute;
    right: 0;
    top: 50%;
    left: 0;
}
.modal-dialog.newModal .btn{width: 110px;font-family: 'DIN-Medium' !important;}
.modal-dialog.newModal .modal-body {text-align: center;}
.modal-dialog.newModal .modal-title {text-align: center;}
.modal-dialog.newModal .modal-title {font-size: 22px;}
.map-leftpanel {width: 100%; display:none;}
#map {width: calc(100%); }

.addBtn{display: inline-block !important;border-radius: 4px;color: #fff;    position: relative;}

.addBtn .btn-success {
    color: #ffffff;
    background-color: inherit;
    border-color: inherit;
    font-size: 25px !important;
    padding: 0;
    border: none;
    padding: 14px 18px;
    outline: none;
    background: #c30912;
    line-height: 20px;
}
.addBtn .btn-danger {
    color: #ffffff;
    background-color: inherit;
    border-color: inherit;
    font-size: 25px !important;
    padding: 0;
    border: none;
    padding: 14px 18px;
    outline: none;
    background:#008234;
    line-height: 20px;
}
.dltLine{}
.dltLine:after {
    content: "";
    position: absolute;
    top: -10px;
    bottom: 0;
    background: #000;
    right: 0;
    left: 27px;
    width: 2px;
    transform: rotate(46deg);
    height: 75px;
    border-radius: 50%;
}
.cardDiv{margin: 15px;display: none;}
.tooltip {
    width: 200px !important;
}


@media screen and (max-width: 479px) {
    .header_top .logo img {
        width: 120px;
    }
    .best_cont {
        padding: 18px 0 18px 10px;
    }
}


