#statistics_container .card .card-body h2{background: #4c4c4c; color: #fff;padding: 10px; margin-bottom: 10px;  display: block; width: 100%; }
#statistics_container .card .card-body h2 a i{color: #fff;}      
/*#statistics_container .table tr td, 
#statistics_container .table tr th{ text-align: left !important;} */          
#statistics_container .table,
#statistics_container .table tr th, 
#statistics_container .table tr td{border: 1px solid #dee2e6;}
#statistics_container .table thead tr td{background: #eceff1; font-weight: 700;}  
#statistics_container .table thead tr th{background: #eceff1; font-weight: 700;}
/*#statistics_container .table.dataTable thead .sorting_asc {background: #eceff1 url(../../images/sort_asc.png) no-repeat center right !important;}*/
#statistics_container .card .card-body .filter-right-block{margin-bottom: 12px; margin-left: 10px;}


@media screen and (max-width: 767px){  
/*25-06-2020*/ 
  #statistics_container .card .card-body .filter-right-block{margin-bottom: 10px; margin-left: 0;}	
/*25-06-2020*/
}