@media only screen and (max-width:1800px){
.btn{padding: 0 45px;}
}

@media only screen and (max-width: 1600px){
.btn{padding: 0 38px;}
}

@media only screen and (max-width:1440px){
.btn{padding: 0 35px;}
.page-wrapper{padding: 30px 30px 30px 130px;}
.page-wrapper.body-space {padding-left: 380px;}

}

@media only screen and (max-width:1199px){
    .table-default table tr td {font-size: 11px; padding: 5px 2px 5px 2px !important;}

}

@media only screen and (max-width:991px){
.login-panel .logo img{max-width: 200px;}
.login-panel .login-form-block{margin-top: 10px; padding: 35px 35px 30px;}
.login-panel .login-form-block .btn{height: 40px; line-height: 40px;}
.left-nav-block{ width: 100%; bottom:auto; right: 0; height: auto; padding: 15px; z-index: 9;}
.dash-logo{float: left; width: 55px;}
.head-right{float: right;}
.add-more{width: 40px; display: inline-block; margin:7px 15px 0 0;}
.menu-toggle-icon{width: 38px; display: inline-block; margin:0;}
.page-wrapper {padding: 60px 15px 15px;}
.page-wrapper.body-space {padding-left: 15px;}
.sidebar__shutdown-icon{position: relative;margin-left: 6px;top: 8px;}
.sidebar__mapping_tool-icon{position: relative;top: 10px;}


/* 07 Feb 2019 SJ */
.page-wrapper .d-flex.pl-5{ padding-left: 0!important;}
.dash-logo { width: 180px;}
.dash-logo img { display: inline-block; max-width: 30px;}
.dash-logo p{ display: inline-block !important; text-align: left !important; line-height: normal;}
.dash-logo br{ display: none; }
.left-nav-block .head-right{ display:-webkit-flex; display: flex; justify-content: space-between; -webkit-align-items: center; align-items: center;}
.left-nav-block .head-right a{ font-size: 21px !important; margin:0 20px 0 0 !important; position: static; }
.left-nav-block .head-right a:last-child{ margin-right: 0 !important; }
.left-nav-block .head-right .add-more{ width: 28px; }
.page-wrapper .content-header-right{ padding: 0; }
.page-wrapper .content-header-right .btn-group .btn { padding: 0 20px;}
.mrg-r10 { margin-right: 4px;}
}

@media only screen and (max-width:767px){
.form-block{margin-bottom: 0px;}
.add-picture{padding: 150px 0;}
.add-picture i {display: block;margin-bottom: 0;margin-left: auto;margin-right: auto;max-width: 25px;}
.total-price{font-size: 19px;}
.login-panel.vertical-middle{top: auto; position: relative;transform: translateY(0);-moz-transform: translateY(0);-webkit-transform: translateY(0); padding: 25px 0;}
.search-field{margin-bottom: 25px;}
#reporting_container .ui{ overflow: auto; }
#reporting_container .ui table{ min-width: 1020px; }
.page-wrapper .content-header-right{ margin-bottom: 10px; }
.page-wrapper .d-flex.pl-5{ justify-content: center !important; }
.page-wrapper .d-flex.pl-5 .h2{ margin-bottom: 0; }
.page-wrapper .content-header-right .btn-group{ justify-content: center; width: 100%; }
.steps li a, .steps li p {padding: 6px 8px !important;  font-size: 12px !important;}
.Quote-upper{min-height:150px;}
.map-leftpanel .roof-panels-middle{justify-content: center; padding-top: 8px; padding-bottom: 3px;} 
#add-roof-panels-card .add-more {bottom: 0; padding: 0;}
.map-leftpanel #add-roof-panels-card{padding-bottom: 30px;}
.map-leftpanel #pac-card{margin: 0;}
/*.form-check-input{display: none;}*/
.form-block-btn{display: none;}
.form-block-btn-res{display: block;}
ul.deal-detail-2 li:nth-child(1), ul.deal-detail-2 li:nth-child(3){ width: 150px;}
ul.deal-detail-2 li:nth-child(2), ul.deal-detail-2 li:nth-child(4) { width: calc(100% - 150px);}
/*ul.deal-detail-2 li{float: none;}*/

}

@media only screen and (max-width: 575px){
.btn{height: 35px;line-height: 35px;padding: 0 37px;}
.btn-block .btn {height: 30px; line-height: 30px; padding: 0 16px; font-size: 12px}
.form-control{font-size: 13px; height: 35px;}
.login-panel{width: 95%;}
.login-panel .login-form-block {padding: 20px;}
.login-panel .login-form-block .btn {height: 35px;line-height: 35px;padding: 0 37px;}

.dash-logo { width:50px;}
.dash-logo p{ display: none !important; }
ul.deal-detail-2 li:nth-child(1), ul.deal-detail-2 li:nth-child(3){ width: 90px;}
ul.deal-detail-2 li:nth-child(2), ul.deal-detail-2 li:nth-child(4) { width: calc(100% - 90px);}
.calendar .fc-toolbar.fc-header-toolbar{justify-content: center; flex-direction: column;}
/*.calendar .fc-toolbar.fc-header-toolbar .fc.fc-button-group > * > * {float: none;}*/
/*.calendar .fc-toolbar.fc-header-toolbar.fc-left,  .calendar .fc-toolbar.fc-header-toolbar.fc-right , .calendar .fc-toolbar.fc-header-toolbar .fc-center{margin-bottom: 10px;}*/
.calendar .fc-toolbar.fc-header-toolbar .fc-left .fc-button-group,.calendar .fc-toolbar.fc-header-toolbar .fc-right .fc-button-group, .calendar .fc-toolbar.fc-header-toolbar .fc-right.fc-center  {text-align: center; float: none; margin-bottom: 5px;}
.calendar .fc-toolbar.fc-header-toolbar .fc-center h2 {padding: 6px 40px;}

}

@media only screen and (max-width:479px){
.form-control{font-size: 12px;}
.login-panel .logo{margin:0 auto 13px;}
.login-panel .logo img{max-width: 180px;}
.total-price{font-size: 16px; padding: 5px 15px;}

.left-nav-block .head-right a { font-size: 16px !important; margin: 0 10px 0 0 !important;}
.left-nav-block .head-right .add-more { width: 20px;}
.left-nav-block .head-right .menu-toggle-icon{ width: 30px;}
.left-nav-block .head-right { margin-top: 5px;}
.content-header-right .btn-group .btn { padding: 0 10px;}
.cus-detail h2, .cus-detail a  {font-size: 12px;}
#deal_stages .steps li{display: block; max-width: 200px; margin-bottom: 8px}
#deal_stages .steps li a{padding: 10px 20px;} 
}

@media only screen and (min-width:978px){
.sidebar__shutdown-icon{bottom: 40px; position: fixed; margin: 0px 0px 0px 10px; margin-left: 12px;}
.sidebar__mapping_tool-icon{bottom: 120px; position: fixed; margin: 0px 0px 0px 10px; margin-left: 15px;}
}

/*  `
Survey page
*/
@media only screen and (max-width:767px){
.rating-section-inst {
    padding:20px 15px;
    background: #fff;
    border-radius: 0;
    position: static;
    transform: none;
}

.hmt-rating {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}
.hmt-rating h3 {
    font-size:18px;
}
.hmt-rating h4 {
    font-size:18px;
    text-align: center;
}
.qst-box ul li h4 {
    font-size: 14px;
    right: 65px;
}
.check-one {
    width: 20px;
    margin-left: 15px;
}
.checkmark {
    height: 20px;
    width: 20px;
    border: solid 1px #d2d2d2;
    box-shadow: 2px 2px 0px #e6e6e6;
}
.check-one h5 {
    font-size: 14px;
    padding-bottom: 5px;
    margin: -24px 0 0 0;
    text-align: center;
}
.custom-radio-btn .checkmark:after {
    width: 20px;
    height: 20px;
    background-size: 100%;
}
.comment-box h4 {
    font-size: 14px;
    padding-bottom:5px;
}
.comment-box {
    padding: 14px 15px;
    margin: 0 -15px 0;
}
.comments-typ {
    height: 100px;
    padding: 10px;
    box-shadow: 3px 3px 0px #dcdcdc;
}
.done-btn {
    width: 110px;
    padding: 8px 0;
    font-size: 15px;
    margin: 12px auto 0;
}
.custom-radio-btn {
    padding-left: 0;
    height:20px;
}
.top-rating {
    padding-bottom: 40px;
}
.thank-you-page-outer, .already-submiited {
    padding-top:100px;
	padding-bottom: 100px;
}
.thank-you-page-outer h1, .already-submiited h1 { margin:0;}
.thank-you-page {
    padding: 0 15px;
}
.thanku-icon {
    max-width:60px;
    margin: 0 auto 10px;
}
.thank-you-page h1 {font-size: 30px;}
.thank-you-page p {
    font-size: 14px;
}
.already-submiited .thank-you-page h1 {font-size: 28px;}
.rating-section-outer {
    padding-top: 20px;
    padding-bottom: 20px;
}
.rating-section-outer .alert.alert-danger {
    top: 0;
    padding: 6px 10px;
    border-radius: 0;

}
}
