.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgba(204,0,0,0.78);
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 1;
    overflow-y: auto;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    color:#fff;
}
.sidebar-menu.active{
    left: 100px;
}
.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar-menu li .toggle-arrow {
    text-align: center;
    width: 25px!important;
    height: auto;
    /**color: #313131;*/
    color: #ffffff;
    background: none;
    margin-top: 4px;
    float: right;
    margin-right: 15px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.sidebar-menu > li.active .toggle-arrow {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #ffffff;
}
.sidebar-menu > li:hover .toggle-arrow{
    color: #fff;
}
.sidebar-menu > li{
    border-bottom: solid 1px #313131;
}
.sidebar-menu > li:last-child{
    border: none;
}
.sidebar-menu > li > a {
    padding: 7px 0 7px 15px;
    display: block;
    /**color: #313131;*/
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    color: #000;
    background: #4c4c4c;
    position: relative;
    z-index: 1;
}
.sidebar-menu > li > .treeview-menu {
    margin: 0;
    padding: 0;
    background: #4c4c4c;
}
.sidebar-menu > li .label, .sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px;
}
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226;
}
.sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
}
.sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg);
}
.sidebar-menu li.active > .treeview-menu {
    display: block;
}
.sidebar-menu a {
    color: #b8c7ce;
    text-decoration: none;
}
.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}
.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 20px;
    background: #232323;
}
.sidebar-menu .treeview-menu > li {
    margin: 0;
    padding: 0 0 0 15px;
    border-bottom: solid 1px #ffffff;
}
.sidebar-menu .treeview-menu > li:last-child{
    border-bottom: none;
}
.sidebar-menu .treeview-menu > li > a {
    padding: 0;
    display: block;
    color: #ffffff;
    font-weight: 400;
    padding: 7px 15px;
    position: relative;
}
.sidebar-menu .treeview-menu > li > a::before {
    background: #fff none repeat scroll 0 0;
    border-radius: 100%;
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 5px;
}
.sidebar-menu .treeview-menu > li > a > .fa-angle-left, .sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    width: auto;
}
.sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {
    color: #fff;
}

.sidebar-menu .treeview-menu > li.active > a i, .sidebar-menu .treeview-menu > li > a:hover i {
    color: #ffce2f;
}

@media only screen and (max-width:1440px){
    .sidebar-menu{width: 250px;}
    .sidebar-menu > li > a{font-size: 14px;}
}

@media only screen and (max-width:991px){
    .sidebar-menu{
        top: 55px;
        height: calc(100% - 60px);
    }
    .sidebar-menu.active {
        left: 0;
    }
}


