
p:last-child{
	margin-bottom: 0;
	padding-bottom: 0;
}
table{
	width: 100%;
}
*{
	padding: 0;
	margin: 0;
}



.mainouter-part > .right-part.page-wrapper {
	padding: 15px 70px 15px 76px;	
	background: #ECEEF0;
}
.box {
	padding:15px;
	background: #fff;
	margin-top: 12px;
	box-shadow: 0 0 10px rgb(178 178 178);
}
 .right-part .top-bar {
	border-bottom: 1px solid #707070;
	padding-bottom: 5px;
	padding: 0 5px 5px 5px;
}
right-part .top-bar p{
	letter-spacing: 0.5px;
	font-size: 16px;
	line-height: 18px;
	color: #373F4D;
	padding-bottom: 0;
	padding-top: 5px;
}
.right-part .top-bar .form-group {
	text-align: right;
	position: relative;
	margin-bottom: 0;
}
.right-part .top-bar .form-group:after{
	content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-width: 11px 6px 0 6px;
    border-color: #313131 transparent transparent transparent;
    border-style: solid;
}
.right-part .top-bar label {

letter-spacing: 0.5px;
	font-size: 16px;
	color: #373F4D;
	line-height: 18px;
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}
.right-part .top-bar select{
	display: inline-block;
    vertical-align: middle;

	letter-spacing: 0.5px;
    font-size: 16px;
    color: #373F4D;
    line-height: 18px;
    background: #fff;
    border: 1px solid #ADADAD;
    outline: none;
    box-shadow: none;
    width: 257px;
    height: 25px;
    padding-right: 30px;
}
.btngroup {
	padding:20px 12px;
}
.btngroup ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.btngroup ul li{
	width: calc(100%/5)	
}
.btngroup ul li + li{
	margin-left: 34px;
}
.btngroup ul li a{
	display: block;
	text-align: center;
	background: #C6C6C6;
	color: #535353;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 7px 5px;
	transition: all 0.3s ease;
}
.btngroup ul li a:hover,
.btngroup ul li a.active{
	color: #fff;
	background: #FA8282;
	transition: all 0.3s ease;
}

.tendor-form label {
letter-spacing: 0.5px;
	font-size: 16px;
	color: #373F4D;
	line-height: 18px;
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    width: 152px;
    padding-right: 10px;
}
.tendor-form input {
letter-spacing: 0.5px;
	font-size: 16px;
	color: #373F4D;
	line-height: 18px;
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    background: #EDEFF1;
    border: 1px solid #C4C4C4;
    padding: 5px;
    width: calc(100% - 162px);    
}
.tendor-form .form-group{
	margin-bottom: 12px;
}
.tendor-form .form-group:last-child{
	margin-bottom: 0
}
.slider-part {	
	text-align: center;
}
.slider-part p { 
	font-size: 20px;
letter-spacing: 0.5px;
	line-height: 23px;
	color: #373F4D;
	font-weight: 400;
	padding-bottom: 5px;
}
.slider-part h1 {

letter-spacing: 0.5px;
	font-size: 20px;
	line-height: 23px;
	color: #373F4D;
	font-weight: 700;
	margin: 0;
	padding-bottom: 5px;
}
.slider-part h2 {
	margin: 0; 
	font-size: 16px;
letter-spacing: 0.5px;
	line-height: 18px;
	color: #B2B2B2;
	font-weight: 400;padding-bottom: 0;
}
.slider-part .carousel-control-prev,
.slider-part .carousel-control-next
 {
	background: #B2B2B2;
	border-radius: 4px;	
	width: 28px;
	height: 28px;
	opacity: 1;
	top: 50%;
    margin-top: -14px;
}
.slider-part .carousel-control-prev .carousel-control-prev-icon,
.slider-part .carousel-control-next .carousel-control-next-icon {
	background: none;
	position: relative;	
}
.slider-part .carousel-control-prev .carousel-control-prev-icon:after,
.slider-part .carousel-control-next .carousel-control-next-icon:after{
	position: absolute;
	width: 13px;
	height: 18px;
	content: "";
	background: url(../images/arrow.svg) top center no-repeat;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider-part .carousel-control-next .carousel-control-next-icon:after {
	transform: translate(-50%, -50%) rotate(-180deg);
}

.add-btn {
	display: block;
	background: #DB1E30;
	display: flex;
	color: #fff !important;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
letter-spacing: 0.5px;
    width: 100px;	
    line-height: 18px;
    margin-left: auto;
    padding: 7px 5px;
}
.add-btn img {
	margin-right: 5px;
}
.upload-sec{
	margin-top: 10px;
}
.upload-sec .upload-table {
	padding: 10px;
	background: #fff;
}

.upload-sec table {

	width: 100%;
}

.upload-sec table th,
.upload-sec table tr {
	font-size: 16px;
letter-spacing: 0.5px;
	line-height: 18px;
	color: #373F4D;
}
.upload-sec table th {
	font-weight: bold;
	border-bottom : 1px solid #707070;
	padding: 10px;

}
.upload-sec table td{
	font-weight: normal;
	padding: 10px;
	margin-bottom: 10px;
}

.upload-sec table td a{
	color: #707070;
}
.system-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #707070;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.system-title h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	 
letter-spacing: 0.5px;
	padding-bottom: 0;
	width: calc(100% - 110px);
}
.tableoption td,
.tableoption th {
	font-size: 14px;
	 
	letter-spacing: 0.5px;
	line-height: 16px;
	color: #373F4D;
	font-weight: normal;
	border: 1px solid #707070 !important;
	padding: 7px 12px;
	height: 32px;
}
.tableoption th {
	font-weight: 500;
}
.tableoption .empty{
	border: none !important;
}
.bg-grey {
	background: #707070;
	color: #fff !important;	
}

.tableoption tr:last-child td{
	border: 2px solid #3C3C3C !important;
	position: relative;
}
.tableoption tr:last-child td:not(:first-child) {
	padding-right: 70px;
}
.tableoption th{
	position: relative;
}
.tableoption td{
	position: relative;
}

.dollar-btn {
    position: absolute;
    font-size: 16px;
    background: #707070;
    color: #fff;
    width: 58px;
    right: -2px;
    height: calc(100% + 4px);
    top: -2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tableoption h4 {
	font-size: 16px;
	line-height: 18px;
	color: #373F4D;
	font-weight: 600;
	 
	letter-spacing: 0.5px;
	border-bottom: 1px solid #707070;
	padding-bottom: 7px;
	display: inline-block;
	margin:15px 0 15px -10px;
}
.tableoption-1 th:first-child,
.tableoption-1 td:first-child{
	width: 70%
}
.tableoption-1 th:last-child,
.tableoption-1 td:last-child{
	width: 30%;
}
.tableoption-2 th:first-child,
.tableoption-2 td:first-child{
	width: 50%
}

.tableoption-2 th:nth-child(2),
.tableoption-2 td:nth-child(2),
.tableoption-2 th:nth-child(4),
.tableoption-2 td:nth-child(4){
	display: none;
}
	
.tableoption-4  {
	min-width: 1500px;	
	width: 100%;
}
.tableoption-4 td,
.tableoption-4 th {
	width: 20%;
}
.site-table {
	width: 100%
}
.site-table td,
.site-table th{
	width: 25%;
}
.site-table.tableoption tr:nth-last-child(2) td:first-child,
.site-table.tableoption tr:last-child td:first-child{
	text-align: right;
}
.site-table.tableoption tr:nth-last-child(2) td {
    border-width: 2px 1px !important;
    border-style: solid !important;
    border-color: #3c3c3c !important;
}
.site-table.tableoption tr:last-child td {
	border-width: 2px 1px !important;		
}

.arrow-btn {
	position: absolute;
    display: block;
    content: "";
    color: #fff;
    width: 23px;
    height: calc(100% + 2px);
    left: 0;
    cursor: pointer;
    background: #DB1E30;
    z-index: 999;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.site-table th:nth-child(2),
.site-table th:nth-child(3),
.site-table td:nth-child(2),
.site-table td:nth-child(3),
.site-table th:nth-child(5),
.site-table th:nth-child(6),
.site-table td:nth-child(5),
.site-table td:nth-child(6),
.site-table-show2.site-table th:nth-child(2),
.site-table-show2.site-table td:nth-child(2) {
	display: none;
}
.site-table th:first-child,
.site-table td:first-child{
	width: 50%;
}
th[class^='optionEmpty'], td[class^='optionDataEmpty'],td[class^='optionCellEmpty']{
    display: none;
}

.site-table th:nth-child(4),
.site-table td:nth-child(4){
	width: 25%;
}
.site-table th:nth-child(4),
.site-table th:last-child{
	padding-left: 25px;
}
.site-table th:last-child,
.site-table td:last-child{
	width: 25%;
}
.site-table-show1.site-table th:nth-child(2),
.site-table-show1.site-table td:nth-child(2),
.site-table-show1.site-table th:nth-child(3),
.site-table-show1.site-table td:nth-child(3){
	display: table-cell;
}
.site-table-show2.site-table th:nth-child(5),
.site-table-show2.site-table td:nth-child(5),
.site-table-show2.site-table th:nth-child(6),
.site-table-show2.site-table td:nth-child(6) {
	display: table-cell;
}

.site-table-show1.site-table th:first-child, .site-table-show1.site-table td:first-child,
.site-table-show2.site-table th:first-child, .site-table-show2.site-table td:first-child,
.tableoption-2.tableoption-show1 th:first-child, .tableoption-2.tableoption-show1 td:first-child,
.tableoption-2.tableoption-show2 th:first-child, .tableoption-2.tableoption-show2 td:first-child {
	width: 25%;
}

.tableoption-2.tableoption-show1 th:nth-child(2),.tableoption-2.tableoption-show1 td:nth-child(2),
.tableoption-2.tableoption-show2 th:nth-child(4),.tableoption-2.tableoption-show2 td:nth-child(4){
	display: table-cell;
}

.site-table-show1.site-table th:nth-child(2), .site-table-show1.site-table td:nth-child(2),
.site-table-show1.site-table th:nth-child(3), .site-table-show1.site-table td:nth-child(3),
.tableoption-2.tableoption-show1 th:nth-child(3),.tableoption-2.tableoption-show1 td:nth-child(3),
.site-table-show1.site-table th:nth-child(4), .site-table-show1.site-table td:nth-child(4),
.site-table-show2.site-table th:nth-child(4), .site-table-show2.site-table td:nth-child(4),
.tableoption-2.tableoption-show1 th:nth-child(4), .tableoption-2.tableoption-show1 td:nth-child(4),
.tableoption-2.tableoption-show2 th:nth-child(3),.tableoption-2.tableoption-show2 td:nth-child(3),
.site-table-show2.site-table th:nth-child(5), .site-table-show2.site-table td:nth-child(5),
.site-table-show2.site-table th:nth-child(6), .site-table-show2.site-table td:nth-child(6),
.site-table-show2.site-table th:last-child, .site-table-show2.site-table td:last-child,
.tableoption-2.tableoption-show2 th:last-child, .tableoption-2.tableoption-show2 td:last-child,
.site-table-show1.site-table th:last-child, .site-table-show1.site-table td:last-child,
.tableoption-2.tableoption-show1 th:last-child, .tableoption-2.tableoption-show1 td:last-child {	
	width: 15%;
}

.tableoption-2.tableoption-show1 th:nth-child(2), .tableoption-2.tableoption-show1 td:nth-child(2),
.tableoption-2.tableoption-show2 th:nth-child(4), .tableoption-2.tableoption-show2 td:nth-child(4){
	width: 30%;
}
.praposal-part .kg-activity__item {
	background-color: #ffffff;
}
.praposal-part .card {
	margin-top: 18px;
	padding: 0;
}
.praposal-part .card .card-body {
	padding:15px 20px 15px 15px;
}
.praposal-part .kg-activity__item__title { 
	font-size: 15px;
	color: #535353;
	font-weight: 500;
	 
	letter-spacing: 0.5px;
	display: inline-flex;
}
.praposal-part .kg-activity__item__title > span > i {
    margin-right: 5px;
}
.praposal-part .kg-activity__item__action {
    float: right;
    margin: 0;
    padding: 0;
}
.praposal-part .kg-activity__item__action {
	background: none;
    border: none;
}
.praposal-part .kg-activity__item__action .dropdown-toggle {
	background: none;
    border: none;
}
.praposal-part .kg-activity__item__action .dropdown-toggle::after {
	display: none;
}
.praposal-part .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.praposal-part .card-subtitle span {
	font-size: 14px;
	color: #848383;
	font-weight: 400;
	 
	letter-spacing: 0.5px;
}
.praposal-part .card-subtitle span + span {
	margin-left: 20px;
	position: relative;
}
.praposal-part .card-subtitle span:not(:first-child)::after {
	content: ""; background: #535353; border-radius: 50%; position: absolute;
	top: 8px;left: -12px; width: 4px; height: 4px; 
}
.praposal-part .card-subtitle span > i{
	margin-right: 5px;
}
.praposal-part .description-box {	
	box-shadow : 0 0 3px #DB1E30;
	padding: 5px 20px 8px;
	position: relative;
	margin-top: 15px;
}
.praposal-part .description-box:before {
	position: absolute;
	top: 10px;
	content: "";
	left: 8px;
	width: 2px;
	height: calc(100% - 20px);
	background: #c6c6c6;
}
.praposal-part .description-box2 { 
	padding-bottom: 35px;
	padding-top: 10px;
}
.praposal-part .description-box p{
	font-size: 14px;
	color: #848383;
	font-weight: 500;
	 
	letter-spacing: 0.5px;
}
.praposal-part .description-box p,
.upload-tab {
    list-style: none;
    margin: 0;
    padding: 0;
}
.praposal-part .description-box p {
	padding-bottom: 0;
}
.praposal-part .description-box p b{
	color: #535353;
}	
.compliance-sec  {
	box-shadow: 0 0 10px rgb(178 178 178);
	background-color: #ffffff;
	padding: 10px 15px;
}
.compliance-sec table {
	width: 100%;
}
.compliance-sec table th {
	border-bottom: none;
}
.compliance-sec  h2 {
	font-size: 16px;
	color: #333333;
	font-weight: 600;
	 
	letter-spacing: 0.5px;	
}
.compliance-sec table {
	width: 100%;
	text-align: center;
	border: 0px solid #c6c6c6;
}
.compliance-sec table th {
	background-color: #707070;
	border:1px solid #707070;
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	 
	letter-spacing: 0.5px;	
	padding: 2px 5px;
	height: 35px;
	text-align: left;
	letter-spacing: 0.5px;
}
.compliance-sec table th:first-child,
.compliance-sec table td:first-child  { 	
	padding: 2px 10px 2px 20px;
	border-color: #707070; 
	justify-content: flex-start;
}
.compliance-sec table td {
	border:1px solid #707070;
	 
	letter-spacing: 0.5px;	
	font-size: 15px;
	height: 35px;
	color: #373F4D;
	font-weight: 500;	
	padding: 2px 5px;
	text-align: left;
}
.compliance-sec table th:first-child,
.compliance-sec table td:first-child{
	width: 28%;
}
.compliance-sec table th:nth-child(2),
.compliance-sec table td:nth-child(2),
.compliance-sec table th:nth-child(3),
.compliance-sec table td:nth-child(3),
.compliance-sec table th:nth-child(4),
.compliance-sec table td:nth-child(4){
	width: 18%;
}
.mising-btn,
.upload-btn {
	font-size: 12px;
	color: #ffffff;
	font-weight: 500;
	 
	letter-spacing: 0.5px;	
	text-decoration: none;
	display: block;
	border-radius: 30px;
	padding: 4px 5px 4px 25px;
	position: relative;
	width: 100%;
	line-height: 16px;
}
.mising-btn {
	background: #faa0a0;
	max-width: 75px;	
}
.upload-btn {
	background: #86ae5c;
	max-width: 90px;
}
.mising-btn:hover,
.mising-btn:active,
.upload-btn:hover,
.upload-btn:active {
	color: #fff;
}
.mising-btn:before,
.upload-btn:before{
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 13px;
	height:13px;
}
.mising-btn:before {
	background: url(../images/icon57.svg) center center no-repeat;
}
.upload-btn:before {
	background: url(../images/icon56.svg) center center no-repeat;
}
.Upload-btn2,
.view-btn {
	font-size: 15px;
	color: #535353;
	font-weight: 500;
	 
	letter-spacing: 0.5px;	
	text-decoration: none;
}
.Upload-btn2:hover,
.Upload-btn2:active,
.view-btn:hover,
.view-btn:active {
	color: #535353;
}
.Upload-btn2 {
	margin-right: 15px;
}
.Upload-btn2 img,
.view-btn img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
}

.databatn-group .org-btn {
	background: #DB1E30;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;	
	padding: 0 9px;
	height: auto;
	font-size: 14px;
	border-radius: 0;
}
.databatn-group .org-btn:hover{
	background: #000;
}
.fixed-menu {		
	position: fixed;
	top: 50%;
	border-radius: 10px 0 0 10px;
	right: 0;	
	width: 58px;
	padding: 10px 6px 10px 10px;
	filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.16));
	background-color: #ffffff;
	z-index: 9;
	height: auto;
	transform: translateY(-50%);
}
.fixed-menu li + li {
	margin-top: 10px;
}
.fixed-menu li a {
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #535353;
	border-radius: 7px;
	transition: all 0.3s;
}
.fixed-menu li.active a,
.fixed-menu li a:hover{
	background: #DB1E30;
	transition: all 0.3s;
}

@media(max-width: 1220px){
	.mainouter-part > .right-part .top-bar select{
		width: 240px;
	}
}
@media(max-width: 1199px){
	.mainouter-part > .right-part .top-bar p{
		font-size: 14px;
	}
	.mainouter-part > .right-part .top-bar select {
	    width: 185px;
	}
	.mainouter-part > .right-part .top-bar label{
		font-size: 15px;
	}
	.btngroup ul li a{
		font-size: 12px;
		line-height: 18px;
		padding: 7px 2px;
	}
	.btngroup ul li + li {
	    margin-left: 10px;
	}
	.tableoption tr:last-child td:not(:first-child){
		padding-right: 35px;
	}
	.dollar-btn{
		width: 35px;		
	}
	.tableoption-2,
	.site-table-show.site-table, 
	.site-table {
		min-width: 1022px;
	}

}
@media(max-width: 991px){ 
	.left-nav-block {
		width: 100%;
		padding: 10px 15px;
	}
	.dash-logo img{
		max-width: 70px;
	}
	.add-more img {
	    max-width: 20px;
	}
	.head-right a{
		height: 35px;
		width: 35px;
	}
	.left-nav-block .head-right a{
		    font-size: 18px !important;
	}
	.head-right {
	    margin-top: 0;
	}
	.mainouter-part > .right-part.page-wrapper {
	    padding: 75px 45px 15px 15px;
	}
	.tableoption-3{
		min-width: 900px;
	}
	.compliance-sec table th {
		font-size: 15px;
	}
	.compliance-sec table{
		min-width: 820px;
	}
	.tendor-form label{
		width: 130px;
	}
	.tendor-form input{
		width: calc(100% - 135px);
	}
	.mainouter-part > .right-part .top-bar p {
		text-align: center;
		margin-bottom: 15px;
	}
	.fixed-menu li a {
		width: 30px;
    	height: 30px;
	}
	.fixed-menu li a img{
		max-width: 17px;
	}
	.fixed-menu{
		padding: 8px 0 8px 5px;
		width: 40px;
	}
	.mainouter-part > .right-part .top-bar select {
	    width: calc(100% - 125px)
	}
	.btngroup ul li a {
		font-size: 10px;
	    line-height: 15px;
	    padding: 10px 2px;
	}
}
@media(max-width: 767px){ 
	.mainouter-part > .right-part .top-bar .form-group { 
		margin-bottom: 10px;
	}
	.btngroup ul{
		flex-wrap: wrap;
	}
	.btngroup ul li {
		width: 100%;
	}
	.btngroup ul li + li {
	    margin-left: 0;
	    margin-top: 10px;
	}
	.tendor-form label{
		margin-bottom: 5px;
	}
	.tendor-form label,
	.tendor-form input {
	    width: 100%;
	}
	.carousel-control-next-icon, .carousel-control-prev-icon{
		width: 15px;
    	height: 15px;
	}
	.slider-part .carousel-control-prev, 
	.slider-part .carousel-control-next{
		width: 22px;
    	height: 22px;
	}
	.slider-part .carousel-control-prev .carousel-control-prev-icon:after, 
	.slider-part .carousel-control-next .carousel-control-next-icon:after {
		width: 10px;
    	height: 15px;
    	background-size: 9px;
	}
	.slider-part p{
		font-size: 16px;
		line-height: 18px;
	}
	.slider-part h1{
		font-size: 16px;
		line-height: 18px;
	}
	.upload-sec table th, .upload-sec table tr{
		font-size: 14px;
	}
	.upload-sec table th,
	.upload-sec table td{
		padding: 5px;
	}
	.tendor-form .form-group:last-child {
	    margin-bottom: 12px;
	}
	.tendor-form label,
	.tendor-form input {
		font-size: 15px;
	}
	.box {
    	padding: 10px;
	}
	.tableoption h4{
		margin: 10px 0 10px -10px;
	}
	.tableoption-1 {
		min-width: 690px;
	}
	.system-title h3 {
	    font-size: 15px;
	}
	.slider-part .add-btn {
		max-width: 100px;
   		margin: 15px auto 0;
   		width: 100%;
	}
}
@media(max-width: 575px){ 
	.dash-logo {
		display: block;
		width: auto;
	}
	.dash-logo img {
	    width: 100%;
	    max-width: 70px;
	    display: block;
	}
}

@media(max-width: 479px){ 
	.praposal-part .card-subtitle span {display:block;}
	.praposal-part .card-subtitle span:not(:first-child)::after{display: none; }
	.praposal-part .card-subtitle span + span{ margin-left: 0; }
	.left-nav-block .head-right { margin-top: 0; }
	.left-nav-block .head-right .add-more {width: 28px; height: 30px;}
}






