/*Global css*/
*{margin:0;padding:0;}
html{font-size:100%;width:100%;height:100%;}
body{width:100%;min-width:320px;background-color:#ffffff;color:#000000;font-size:14px;font-weight:500;font-family: 'Poppins', sans-serif; height: 100%;}
.clear{clear:both;}
button,input[type="submit"],input[type="search"],a,i{transition:all 0.3s ease;-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;font-family: 'Poppins', sans-serif;}
a:hover, a:focus{outline:none!important;outline-offset:none!important;text-decoration:none!important;}
button:focus{outline:none;}
a,img{border:none;outline:none;}
a:hover, a:focus{color: #000000;}
img{max-width:100%;height:auto;display:inline-block;}
label{font-weight:400; font-size: 15px; color: #000000;}
label.label-inline{margin-top: 11px;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0 0 15px;font-weight:400;font-family: 'Poppins', sans-serif;position:relative;}
h2, .h2{font-size: 16px; font-weight: 500;}
ul,ol{list-style:none;margin:0;}
ul li,ol li{list-style:none;}
p{display:block;line-height:24px;margin:0;padding:0 0 20px; color: #000000;}
b, strong{font-weight: 600;}
.brek-line{display: block;}
.form-group{display:block;position:relative; margin-bottom: 20px;}

.btn{border: none; height: 37px; font-size: 14px;color: #313131;font-weight: 500;line-height: 36px;padding: 0 40px;border-radius: 0 10px 10px 10px;-webkit-border-radius: 0 10px 10px 10px;-moz-border-radius: 0 10px 10px 10px;background: #b92625 !important;color: #ffffff !important;text-transform: capitalize;}
.btn:hover{background: #000 !important; color: #ffffff; box-shadow: none;}
.btn:focus{box-shadow: none;}
/*==INPUTFIELDSTART==*/
.form-control{box-shadow:none!important;font-family: 'Poppins', sans-serif;height:35px;color:#000000; font-weight: 400; font-size: 12px;  border-color: #000000; border-radius: 0;}
.form-control.gray-bg{background-color: #f4f4f4;}
.form-control.small{max-width: 120px;}
.form-control:focus{border-color: #000000;}
.form-control::-webkit-input-placeholder {color:#000000; opacity: 1;}
.form-control::-moz-placeholder {color:#000000; opacity: 1;}
.form-control:-ms-input-placeholder {color:#000000; opacity: 1;}
.form-control:-moz-placeholder {color:#000000; opacity: 1;}
/*==INPUTFIELDEND==*/
.has-danger .form-control-danger{background-image: url('../images/danger-icon.svg'); background-repeat: no-repeat;}
.input-group-text{border-color: #e4e5e7;}
.input-group-text .checkbox label, .input-group-text .radio label{margin:0; padding: 0 16px 0 0; vertical-align: top;}
.input-group-append .btn, .input-group-prepend .btn{padding: 0 12px;}
.btn-bs-file{position:relative; overflow:hidden;}
.btn-bs-file input[type="file"]{position: absolute; left: 0; top: 0; top: -9999999;filter: alpha(opacity=0);opacity: 0;width:100%;height:100%;outline: none;cursor: inherit;}
select,select.form-control{background:#f4f4f4 url(../images/arrowdown.png) no-repeat calc(100% - 15px) center;text-overflow:ellipsis;white-space:nowrap;padding-right:28px;-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none; color:#091124; width:100%;}
select.form-control.multi{background:#ffffff;}
select,select.form-control option{padding: 0 10px;}
textarea.form-control{min-height:155px;resize:vertical;height:auto; padding:10px 15px;}
.mrg-0{margin:0!important;}
.dis-inline{display:inline-block;vertical-align:middle;position:relative;}
.dis-block{display:block;position:relative;}
.full-wdth{display:block;width:100%;position:relative;}
.full{width:100%;position:relative; float:left;}
.relative{ position:relative;}
/*=========IE10 and Above to 10, 11,12=====================*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    select,select.form-control {
        background:#fff !important;
        padding-right:7px !important;
    }
}
/*=========IE9 and Below to 9, 8, 7=====================*/
select,select.form-control {
    background:#fff !important;
    padding-right:7px !important;
}
/*Padding css*/
.pad5{padding:5px}.pad10{padding:10px}.pad15{padding:15px}.pad20{padding:20px}.pad25{padding:25px}.pad30{padding:30px}.pad40{padding:40px}.pad50{padding:50px}.pad60{padding:60px}.pad70{padding:70px}.pad80{padding:80px}.pad90{padding:90px}.pad100{padding:100px}.pad-t5{padding-top:5px}.pad-b5{padding-bottom:5px}.pad-l5{padding-left:5px}.pad-r5{padding-right:5px}.pad-t10{padding-top:10px}.pad-b10{padding-bottom:10px}.pad-l10{padding-left:10px}.pad-r10{padding-right:10px}.pad-t15{padding-top:15px}.pad-b15{padding-bottom:15px}.pad-r15{padding-right:15px}.pad-l15{padding-left:15px}.pad-t20{padding-top:20px}.pad-b20{padding-bottom:20px}.pad-l20{padding-left:20px}.pad-r20{padding-right:20px}.pad-t25{padding-top:25px}.pad-b25{padding-bottom:25px}.pad-l25{padding-left:25px}.pad-r25{padding-right:25px}.pad-t30{padding-top:30px}.pad-b30{padding-bottom:30px}.pad-l30{padding-left:30px}.pad-r30{padding-right:30px}.pad-t40{padding-top:40px}.pad-b40{padding-bottom:40px}.pad-l40{padding-left:40px}.pad-r40{padding-right:40px}.pad-t50{padding-top:50px}.pad-b50{padding-bottom:50px}.pad-l50{padding-left:50px}.pad-r50{padding-right:50px}.pad-t60{padding-top:60px}.pad-b60{padding-bottom:60px}.pad-t70{padding-top:70px}.pad-b70{padding-bottom:70px}.pad-t80{padding-top:80px}.pad-b80{padding-bottom:80px}.pad-t90{padding-top:90px}.pad-b90{padding-bottom:90px}.pad-t100{padding-top:100px}.pad-b100{padding-bottom:100px}
/*Margin css*/
.mrg5{margin:5px}.mrg10{margin:10px}.mrg15{margin:15px}.mrg20{margin:20px}.mrg30{margin:30px}.mrg40{margin:40px}.mrg50{margin:50px}.mrg60{margin:60px}.mrg70{margin:70px}.mrg80{margin:80px}.mrg90{margin:90px}.mrg100{margin:100px}.mrg-t5{margin-top:5px}.mrg-b5{margin-bottom:5px}.mrg-l5{margin-left:5px}.mrg-r5{margin-right:5px}.mrg-t10{margin-top:10px}.mrg-b10{margin-bottom:10px}.mrg-l10{margin-left:10px}.mrg-r10{margin-right:10px}.mrg-t15{margin-top:15px}.mrg-b15{margin-bottom:15px}.mrg-l15{margin-left:15px}.mrg-r15{margin-right:15px}.mrg-t20{margin-top:20px}.mrg-b20{margin-bottom:20px}.mrg-l20{margin-left:20px}.mrg-r20{margin-right:20px}.mrg-t25{margin-top:25px}.mrg-b25{margin-bottom:25px}.mrg-l25{margin-left:25px}.mrg-r20{margin-right:20px}.mrg-t30{margin-top:30px}.mrg-b30{margin-bottom:30px}.mrg-l30{margin-left:30px}.mrg-r30{margin-right:30px}.mrg-t40{margin-top:40px}.mrg-b40{margin-bottom:40px}.mrg-l40{margin-left:40px}.mrg-r40{margin-right:40px}.mrg-t50{margin-top:50px}.mrg-b50{margin-bottom:50px}.mrg-t60{margin-top:60px}.mrg-b60{margin-bottom:60px}.mrg-t70{margin-top:70px}.mrg-b70{margin-bottom:70px}.mrg-t80{margin-top:80px}.mrg-b80{margin-bottom:80px}.mrg-t90{margin-top:90px}.mrg-b90{margin-bottom:90px}.mrg-t100{margin-top:100px}.mrg-b100{margin-bottom:100px}
.margin0 {margin: 0!important;}.padding0 {padding: 0!important;}.border0 {border: none!important;}.pad-r0{ padding-right:0!important;}
.container {display: block;margin: 0 auto;position: relative;width: 100%; max-width:1200px; padding:0 15px;}
.vertical-middle{top:50%;position:absolute;transform:translateY(-50%);-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%); left:0; right:0; margin:0 auto;}
/*==========globalcssend=========*/
.login-wrapper{background:#fff288;background:-moz-linear-gradient(top,rgba(255,242,136,1) 1%,rgba(255,187,24,1) 100%);background:-webkit-linear-gradient(top,rgba(255,242,136,1) 1%,rgba(255,187,24,1) 100%);background:linear-gradient(to bottom,rgba(255,242,136,1) 1%,rgba(255,187,24,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff288',endColorstr='#ffbb18',GradientType=0);min-height: 100%;}
.login-panel{max-width: 420px; width: 100%;}
.login-panel .logo{ display: block; margin:0 auto 20px;}
.login-panel .logo img{ max-width: 264px; width: 100%; margin:auto;}
.login-panel h2{font-size: 14px; font-weight: 500; color: #000000; text-align: center;}
.login-panel .login-form-block{background:#ffffff; padding: 50px 55px 30px; margin-top: 30px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; box-shadow: 0px, 4px rgba(0, 0, 0, 0.25);}
.login-panel .login-form-block h2{font-size: 30px; font-weight: 500; display: block; text-align: center;}
.login-panel .login-form-block .form-group{margin-bottom: 20px;}
.login-panel .login-form-block .form-control{height: 40px; font-size: 14px; font-weight: 500; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}
.login-panel .login-form-block .form-control::-webkit-input-placeholder {color:#bfbfbf;}
.login-panel .login-form-block .form-control::-moz-placeholder {color:#bfbfbf;}
.login-panel .login-form-block .form-control:-ms-input-placeholder {color:#bfbfbf;}
.login-panel .login-form-block .form-control:-moz-placeholder {color:#bfbfbf;}
.login-panel .login-form-block .btn{display: block; height: 45px; line-height: 44px; margin:10px auto 0;}
.login-panel .forgot {color: #fff;display: block;font-size: 14px;margin-top: 25px;text-align: center;}
/*============dashboard===============*/
.left-nav-block{width: 100px; float: left; position: fixed; top: 0; bottom:0; left: 0; padding: 20px 15px; background:#C20000; z-index: 2;} 
.dash-logo{margin:auto; display: block;}
.dash-logo img{display: block; max-width: 70px;}
.add-more{margin:35px auto 0; display: block; text-align: center;}
.add-more img{ max-width: 40px; }
.menu-toggle-icon {display: block;margin: 50px auto 0;text-align: center;}
.menu-toggle-icon img {max-width: 38px;}
.page-wrapper{background-color: #ffffff; padding: 60px 60px 60px 160px; transition:all 0.3s ease;-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;}
.page-wrapper.body-space{padding-left: 461px;}
.form-block{margin-bottom: 60px;}
.table-default{margin-bottom: 20px;}
.table-default table tr td{font-size: 13px; font-weight: 400; color: #000000; border-bottom: solid 1px #000000; padding: 10px 14px;}
.add-picture{border:solid 1px #000000; width: 100%; padding: 300px 0; background:#f4f4f4; position: relative; text-align: center;}
.add-picture span{display: block;}
.add-picture i{margin-top: 10px; display: block;}
.add-picture input[type="file"]{cursor:inherit;height:100%;left:0;opacity:0;outline:medium none;position:absolute;top:0;width:100%}
.total-price{background:#E5E5E5; font-size: 22px; color: #000000; line-height: 100%; padding: 5px 30px 5px 15px; display: inline-block;width:100%;}
.search-field{width: 100%; height: 35px; border:solid 1px #000000; background:#f4f4f4; position: relative; margin-bottom: 40px;}
.search-field .form-control{border:none; background:none; padding: 0 35px 0 15px;}
.search-field::after{font-family: 'Font Awesome 5 Free'; font-weight: 900; content: ""; display: block; color: #000000; position: absolute; top: 5px; right: 10px;}
.sidebar__shutdown-icon{margin:35px auto 0; font-size: 30px; text-align: center; color:#fff}
.sidebar__mapping_tool-icon{margin:35px auto 0; font-size: 35px; text-align: center; color:#fff;}
/*** Custom ***/
tfoot{display: none;}
.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align:center;
}

.custom_spinner {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-radius: 50%;
    margin: 0 auto;
    text-align:center;
}

@-webkit-keyframes spin {
    0% { 
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% { 
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.badge--notify{
    margin: 0px 0px 0px -12px !important;
    font-size: 12px !important;
    display: inline-block;
    height: 18px;
    width: 18px;
    line-height: 14px;
    -moz-border-radius: 15px;
    border-radius: 18px;
}

/*Global css*/
*{margin:0;padding:0;}
body{width:100%;min-width:320px;background-color:#fff;color:#000;font-size:14px;font-weight:400;font-family:'Poppins',sans-serif;}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.rating-section-outer {
    padding-top: 150px;
    padding-bottom: 70px;
    position: relative;
}
.rating-section-inst {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background:#f9f9f9;
    border-radius: 5px;
    box-sizing: border-box;
}
.solar-logo{ display:block; margin:0 auto 40px; max-width:150px;}
.top-rating{ padding-bottom:70px;}
.hmt-rating{ width:32.666%; float:left;}
.hmt-rating h3{ display:block; font-size:20px; font-weight:500;margin:0; padding:0;}
.hmt-rating h4{ display:block; font-size:20px; font-weight:500; text-align:right;margin:0; padding:0;}
.star-ratings{ position:relative; width:144px; margin:0 auto;}
.star-ratings-top {color: #fdba13;padding: 0;position: absolute;z-index: 1;display: block;top: 0;left: 0;overflow: hidden;height: 24px;background: url(../images/newstars-new-two.png) 0 0 no-repeat; width:100%;}
.star-ratings-bottom {padding: 0;display: block;z-index: 0;background: url(../images/newstars-new-one.png) 0 0 no-repeat;height: 24px;width:100%;}
.qst-box{ padding-bottom:20px;}
.qst-box ul{ margin:0; padding:0;}
.qst-box ul li{ margin:0 0 20px; padding:0; list-style:none; display:block; position:relative;}
.qst-box ul li h4{ display:block; font-size:20px; font-weight:500; line-height: 20px;padding:0; position:absolute; top:3px; left:0;}
.rlt-qst{ float:right;}
.check-one{ width:35px; float:left;margin-left: 30px;}
.check-one h5{ display:block; font-size:20px; font-weight:500; padding-bottom:8px; margin:-38px 0 0 0; text-align:center;}
.comment-box {
    background: #f1f1f1;
    padding: 20px 50px;
    margin: 0 -50px -50px;
}
.comment-box h4{ display:block; font-size:20px; font-weight:500; margin:0; padding-bottom:10px;}
.comments-typ {
    width: 100%;
    height: 160px;
    border: solid 1px #d2d2d2;
    background: #f9f9f9;
    outline: none;
    font-family: 'Poppins',sans-serif;
    padding: 15px;
    box-sizing: border-box;
    box-shadow:6px 6px 0px #dcdcdc;
}
.done-btn {
    display: block;
    width: 160px;
    background: #ffb21d;
    border: none;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    font-size:20px;
    margin: 12px 0 0 0;
    cursor:pointer;
    font-family:'Poppins',sans-serif;
    font-weight:500;
    text-transform:uppercase;
}

.custom-radio-btn {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height:30px;
}

/* Hide the browser's default radio button */
.custom-radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width:30px;
    background-color: #f7f7f7;
    border: solid 2px #d2d2d2;
    box-shadow: 3px 3px 0px #e6e6e6;
}

/* On mouse-over, add a grey background color */
.custom-radio-btn:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom-radio-btn input:checked ~ .checkmark {
    background-color:#ffb21d;
    border: solid 2px #ffb21d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio-btn input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio-btn .checkmark:after {
    top:0;
    left:0;
    width:30px;
    height:30px;
    background: url(../images/check-mark.png) no-repeat center center;

}

.thank-you-page{ text-align:center; padding: 80px 0;}
.thanku-icon {
    max-width: 150px;
    display:block; margin:0 auto 50px;
}
.thank-you-page h1{ font-size:100px; text-transform:uppercase; font-weight:700; color:#000;}
.thank-you-page h1 strong{font-weight:700; color:#ffb21d}
.thank-you-page p{ font-size:16px;}
.thank-you-page-outer, .already-submiited{ padding-top:90px;}
.already-submiited{ padding-top: 180px;
                    padding-bottom: 80px;}
.already-submiited .thank-you-page h1{ font-size:80px;}
.header_area {
    background: #fff;
}

.rating-section-outer .alert.alert-danger {

    margin: 0 auto 20px;
    max-width: 800px;
    text-align: center;
    position: absolute;
    top: 104px;
    left: 0;
    right: 0;
    padding: 6px 10px;

}
.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.tile .first {
    width: 80%;
    float: left;
}
.tile .second {
    width: 20%;
    float: left;
    text-align: center;
}
.tile .title {
    margin-top: 0px;
}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
    color: #fff !important;
}
.tile.purple {
    background: #5133ab;
}
.tile.purple:hover {
    background: #3e2784;
}
.tile.red {
    background: #ac193d;
}
.tile.red:hover {
    background: #7f132d;
}
.tile.green {
    background: #00a600;
}
.tile.green:hover {
    background: #007300;
}
.tile.blue {
    background: #2672ec;
}
.tile.blue:hover {
    background: #125acd;
}
.tile.orange {
    background: #dc572e;
}
.tile.orange:hover {
    background: #b8431f;
}

.tbl-excel .tbl-inpt{
    position: relative;
}
.tbl-excel .tbl-inpt i{   position: absolute;left: 0px;color: #d86a11;top: 0px;padding-top: 3px;padding-left: 1px;}
.tbl-excel .tbl-inpt input{
    border: none;
    width: 100%;
    padding-left: 11px;
    background: #ffe3cc;
}

.css-month { width: 105px; text-align: center; padding: 5px 0;}
.invdl-sum {background: #8f8a8a;font-weight: 400;color: #fff;}
.css-grand-total {text-align: center; background: #8f8a8a;color: #fff;}
.css-side-title {  font-size: 12px;padding-left: 5px;}
.css-side-title-wdth { width: 170px;}
.invdl-sum th {font-size: 12px;  padding: 3px 0 3px 5px;}
.tbl-excel td, .tbl-excel th {    border-color: #000;}
.css-invstment-rpt{margin-bottom: 30px;min-height:640px;position: relative;box-shadow: 0px 0px 5px #efefef;border-radius: 5px;padding:5px;}
.css-invstment-rpt .alert{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
}
.Quote-upper{min-height:229px;}
.map-leftpanel #add-roof-panels-card{display: flex;

display: -webkit-flex;

align-items: center;


height:100px;

justify-content: center;

position: relative;

padding-bottom: 0;

margin: 0;}
 #add-roof-panels-card .add-more{position: absolute;

bottom: 0px;

font-size: 16px;

display: block;

width: 100%;

padding: 0;

margin: 0;}
.map-leftpanel .roof-panels-middle{display: flex; display: -webkit-flex; width: 100%; justify-content: flex-start; align-items: center; font-weight: bold; height: 100px; } 
 #add-roof-panels-card .addBtn{margin-left: 5px;}
  .map-leftpanel .calculate-container{padding: 10px 0 0 0;}
 .calculate-container .btn-calculate{line-height: 30px;}
 .map-leftpanel #pac-card{margin: 0;}
 #panel_mode_modal .modal-content{border: 1px solid rgba(153, 146, 146, 0.5);}
 #panel_mode_modal .modal-dialog.newModal h5.modal-title{width: 100%;}
 #panel_mode_modal .modal-dialog.newModal .btn{width: auto;}
 #panel_mode_modal .modal-dialog.newModal, #panel_mode_modal .modal-dialog.newModal .modal-content{width:auto;}
ul.deal-detail-2{float: left;width: 100%;}
ul.deal-detail-2 li{float: left;}
ul.deal-detail-2 li:nth-child(1),ul.deal-detail-2 li:nth-child(3) {width: 95px;}
ul.deal-detail-2 li:nth-child(2), ul.deal-detail-2 li:nth-child(4){width: calc(100% - 95px);}
.form-block .form-check-inline { padding: 5px 0 10px 0; margin: 0;}
.form-block-btn{display: block;}
.form-block-btn-res{display: none;}
#tab_image_upload #proposal_image_close{top: 35px; right: 0;}
.calendar .fc-toolbar.fc-header-toolbar{display: flex; display: -webkit-flex; justify-content: space-between;}
.calendar .fc-toolbar.fc-header-toolbar .fc-clear{display: none;}
.calendar .fc-toolbar.fc-header-toolbar .fc-center h2 {padding: 6px 30px; background: #efefef; border: 1px solid #dbdbdb; border-radius: 3px; font-size: 13px; font-weight: normal; color: #454443; float: none; display: inline-block}


/* 16 April 2019 SJ */
#map_near_map .tool-bar-window .form-control{ height: 30px; padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; margin: 0; width:100%;}
#map_near_map .tool-bar-window label { color: #fff; font-size: 14px;}
#map_near_map .input-group{ float: none; width: 100%; }
#map_near_map .input-group .input-group-btn{ position: absolute; right: 0; top: 0;}
#map_near_map .input-group .input-group-btn .btn{ -webkit-border-radius:3px; border-radius:3px; }
#map_near_map .btn{ height: 30px; line-height: 30px; padding: 0 4px; -webkit-transition: none; transition: none; -webkit-border-radius: 3px; border-radius: 3px;}
#map_near_map .rotate-by-90 label{ cursor: pointer; width: 30px; padding: 0; height: 30px; line-height: 32px; text-align: center; color: #000; -webkit-border-radius: 3px; border-radius: 3px;
background:#b92625;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b92625',endColorstr='#ffb51d',GradientType=0);}
#map_near_map .btn:hover, #map_near_map .input-group .input-group-btn .btn:hover, #map_near_map .rotate-by-90 label:hover{ color: #fff; background: #b92625;}
#map_near_map .rotate-by-90 i { font-size: 12px;  margin: 7px; margin-top:10px;}
.btn-inset button {
    position: absolute;
    right: -30px;
    top: 0;
    border-radius: 0px 3px 3px 0px !important;
    bottom: -30px;
    z-index: 2;
}
.select-typ {
    position: relative;
    right: -18px;
    width: 110px;
    text-align: center;
}