<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="left" valign="top"><img src="https://kugacrm.com.au/assets/led_booking_form/cover1.jpg" alt="" style="display:block; width:100%;  height:444px; "></td>
    </tr>
    <tr>
        <td style="background:#232323 url('https://kugacrm.com.au/assets/led_booking_form/cover2.jpg') center top;  background-size:cover; padding-top:0px; padding-bottom:45px; width:100%; height:843px; ">


            <table width="90%" border="0" align="center" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td width="70%" valign="top" align="left">&nbsp;</td>
                        <td width="30%">&nbsp;</td>
                    </tr>
                    <tr valign="top" align="left">
                        <td colspan="2"><h1 style="font-family: 'Montserrat', sans-serif; font-size:54px; color:#fff; padding:0; margin:0; text-transform:uppercase; font-weight:800;">LED Upgrade<br>Agreement</h1></td>
                    </tr>
                    <tr>
                        <td valign="top" align="left">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <td style="font-family: Calibri, sans-serif; font-size:19px; color:#fff;" width="70%" valign="top" align="left">KUGA Electrical<br><br></td>
                        <td width="30%">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family: Calibri, sans-serif; font-size:14px; color:#fff;" width="70%" valign="top" align="left">
                            4 Bridge Road, Keysborough VIC 3173<br>
                            26 Prince William Drive, Seven Hills, NSW 2147
                        </td>
                        <td width="30%">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" align="left">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="70%" valign="top" align="left">&nbsp;</td>
                        <td width="30%">&nbsp;</td>
                    </tr><tr>
                        <td width="70%" align="left" valign="top" style="font-family: Calibri, sans-serif; font-size:14px; color:#fff;">
                            ABN 39 616 409 584<br>
                            VIC REC No. 27103<br>
                            NSW REC No. 318148C 

                        </td>
                        <td width="30%">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="70%" valign="top" align="left">&nbsp;</td>
                        <td width="30%">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family: Calibri, sans-serif; font-size:14px; color:#fff;" width="80%" valign="top" align="left">
                            &nbsp;
                        </td>
                        <td width="20%" valign="top" align="right">
                            <img style="width: 100px;" src="https://kugacrm.com.au/assets/led_booking_form/cover_img.jpg" alt="" title="">
                        </td>
                    </tr>
                </tbody>
            </table>

        </td>
    </tr>
</table>


