@charset "UTF-8"; 

a.gt{color:#fff; text-decoration:none}

a.gt:hover{text-decoration:none}

a.gt:visited{text-decoration:none}

a.gt:link{text-decoration:none}

a.gt:active{text-decoration:none}

#navitile{width:820px; margin-left:0px; height:22px; background-repeat:repeat-x; position:absolute; left:0px; top:0px; font-family:arial,verdana,helvetica; font-size:8px; white-space:nowrap; z-index:1000}

#navitoolbarcontainer{width:100%; min-width:830px; width:expression('101.7%'); height:22px; position:absolute; left:0px; top:0px; font-family:arial,verdana,helvetica; font-size:8px; background-image:url('/icom_includes/toolbars/globaltoolbar/img/background_end_fixed.png'); background-repeat:repeat-x; white-space:nowrap; z-index:1000; margin:0px; padding:0px}

#navitoolbarcontainer a{color:#fff}

#heightcontainer{position:relative; height:35px; width:99%; background:transparent;}

#globalform{padding:0px; margin:0px}

#lightgrey{text-align:left; color:#fff; text-indent:5px;     background-image:url('/icom_includes/toolbars/globaltoolbar/img/background_end_fixed.png')}

#lightgrey .inputglobal{font-size:9px; font-size:expression('8px'); text-align:left; margin-top:0px; margin-left:2px;  background-repeat:no-repeat}

#lightgrey .inputglobal:hover{font-size:9px; text-align:left; margin-top:0px; background-color:#ccc}

#lightgrey a{font-family:sans-serif; text-decoration:none; color:#FFF; text-decoration:none; FONT-SIZE:10px; padding:0px; top:1px; top:expression('-2px'); position:relative}

#lightgrey a:link{text-decoration:none; color:#FFF; text-decoration:none; FONT-SIZE:10px}

#lightgrey a:visited{display:inline; text-decoration:none; color:#FFF; text-decoration:none; FONT-SIZE:10px; padding:0px; margin:0px}

#lightgrey a:active{display:inline; text-decoration:none; color:#FFF; text-decoration:none; FONT-SIZE:10px; padding:0px; margin:0px}

#lightgrey a:hover{display:inline; text-decoration:none; color:#fcf2ca; text-decoration:none; FONT-SIZE:10px; padding:0px; margin:0px}
